@use "../utilities/variables" as *;
@use "../utilities/extend" as *;
@use "../utilities/mixin" as *;

// solo veremos en Carrusel en Movil
.movil {
    display: block;
}

.escritorio {
    display: none;
}

// en Desktop solo veremos la gelería de fotos
@include escritorio {
    .movil {
        display: none;
    }

    .escritorio {
        display: block;
    }
}

.elconsultorio-grid {
    margin-left: 1rem;
    margin-right: 1rem;

    // Existencia de un Carrusel antes de 1024px
    figure {
        display: flex;
        flex-direction: column;
        margin: 0;
        overflow: hidden;

        img {
            width: 100%;
            flex: 1;
            min-height: 0;
            display: block;
            object-fit: cover;
            border-radius: 6px;
            box-shadow: 0 4px 12px $sombra-imagenes;
        }

        figcaption {
            width: 100%;
            font-size: 1rem;
            color: $color-texto-claro;
            font-weight: 600;
            text-align: center;
            padding: 0.5rem;
        }

        &:focus {
            box-shadow: 5px 5px 10px $sombra-focus;
        }
    }

    //Desktop (1024px+): Grid áreas
    @include escritorio {
        @include grid(repeat(3, 1fr),
            repeat(3, 280px),
            "vertical foto3 foto1"
            "vertical foto4 foto2"
            "horizontal horizontal horizontal",
            1rem);

        figure {
            height: 100%;
        }

        // Asignación de áreas
        .foto-vertical {
            grid-area: vertical;
        }

        .foto-horizontal {
            grid-area: horizontal;
        }

        .foto-1 {
            grid-area: foto1;
        }

        .foto-2 {
            grid-area: foto2;
        }

        .foto-3 {
            grid-area: foto3;
        }

        .foto-4 {
            grid-area: foto4;
        }
    }
}