@use "../utilities/variables" as *;
@use "../utilities/extend" as *;
@use "../utilities/mixin" as *;

main {
    color: $color-texto-claro;
    background-color: $color-azul-profundo;
    width: 100%;
    @include flex(column, center, space-around, 1rem);

    h1 {
        font-size: 2.2rem;
        text-align: center;
        margin-top: 1rem;
    }

    .seccion-destacada {
        background-color: $color-turquesa;
        box-shadow: 0 4px 12px $sombra-imagenes;
        @include flex(column, center, center, 1rem);
        padding: 1.5rem;
        width: 100%;
        max-width: 800px;
        border-radius: 6px;

        h2 {
            color: $color-azul-profundo;
            font-size: 1.6rem;
            text-align: center;
        }

        a {
            background-color: $color-azul-profundo;
            box-shadow: 0 4px 12px $sombra-imagenes;
            text-decoration: none;
            padding: 0.6rem 1.5rem;
            display: inline-block;
            border-radius: 6px;
            font-weight: 600;
            transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;


            &:visited {
                color: $color-visitado;
            }

            &:hover {
                color: $color-azul-profundo;
                transform: scale(1.1);
                background-color: $color-cian-brillante;
            }

            &:active {
                text-decoration: underline;
            }
        }
    }

    section {
        @include flex(row, center, space-evenly, 0rem);
    }
}